 a:hover{
	text-decoration: none;
	color: red;
}
#header h1{
	position: absolute;
	top: 15%;
	left: 25%;
	font-size: 50px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	color: lightblue;
	padding: 9px;
}
.upper{
	position: absolute;
	top: 46%;
	left: 4%;
}
.upper a{
	text-decoration: none;
	padding:10px;
	font-weight: bold;
	font-size: 20px;
	color: lightblue;
	font-weight: bold;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
}
.link {
	position: absolute;
	top: 46%;
	right: 4%;
	font-weight: bold;
	font-size: 20px;
	
}
.link a {
	padding: 10px;
	color: lightblue;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
	border-radius: 20px; 
}

.lower{
	margin-left: 200px;
	margin-top: 30px;
	margin-right: 200px;
	text-align: justify;
	font-size: 20px;
	font-family: sans-serif;
}
#role p{
	margin-left: 50px;
}
.lower p{
	text-indent: 50px;
}