 * {
 	margin: 0;
 	padding: 0;
 }
.midd{
	
	width:100%;
	margin-top: 40px;
	display: flex;
	justify-content: center;

}
.mid{
	width: 13%;
	box-shadow: 10px 20px 30px gray;
	padding: 20px;
}
ul{
	margin-top: 16px;
	list-style-position: inside;
}
.follow ul{
	list-style-position: outside;
}
.mid li{
	margin-top: 20px;
}
.mid a{
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}
