<div id="first-div" style="height: 710px;">
    <img data-aos="fade-up" data-aos-delay="100" id="first-image" src="/assets/img/a.gif?h=e5c311c084be73cf5afb9414ebae402f">
    <p class="bounce animated" id="fisrt-par">Bore at home ?&nbsp;</p>
    <p data-aos="fade-up" data-aos-delay="100" data-aos-once="true" id="fisrt-par" style="margin-top: 0px;">Read New Articles</p>
</div>
<div id="first-div" style="margin-top: 0px;">
    <img data-aos="fade-up" data-aos-delay="200" id="first-image" src="/assets/img/b.gif?h=9cc7e4c10d878eff135a95b723767cc1">
    <p data-aos="fade-right" data-aos-delay="200" id="second-par">Have any Question Why Worry? Ask here</p>
</div>
<div id="first-div" style="margin-top: 0px;">
    <img data-aos="fade-up" data-aos-delay="300" id="first-image" src="/assets/img/cfa.gif?h=6a15ed968136b8fe2582f1530532613b">
    <div class="col text-center" style="margin-top: -93px;">
        <a class="btn" routerLink="/login">Sign In</a>
        <a class="btn" routerLink="/registration">Registration</a>
    </div>
</div>