<section>
    <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" id="role">
        <h2 id="head-role">Role and Mission</h2>
        <p id="par-role">The vast majority of human knowledge is still not on the internet. Most of it is trapped in the form of experience in people's heads, or buried in books and papers that only experts can access. As a consequence most people don't have the knowledge
            they should, and don't have the time, connections, or skills to get to the knowledge they would have in an ideal world.<br></p>
        <p id="par-role"><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The internet was supposed to allow anyone to set up a web page and share their knowledge with the world. But in practice it's too difficult and takes too long and almost no one does it. Blogs are easy
            to start, but unless the author is famous, it takes years to build a following. More than a billion people use the internet yet only a tiny fraction contribute their knowledge to it.This forum aims to allow anyone to easily share their
            knowledge and in the process to dramatically increase the total amount of knowledge available to the world. As we grow, we will be able to provide larger and larger audiences to writers, cover more and more topics, and have greater and
            greater impact on the world.<br><br></p>
        <p id="par-role">We hope to become an internet-scale Library of Alexandria, a place where hundreds of millions of people go to learn about anything and share everything they know. To do that we are going to have to expand. Today Quora is largely questions
            and answers, but that is not the ideal format for all knowledge. Other formats will gradually be added as we scale up.<br><br></p>
    </div>
    <div data-aos="fade-right" data-aos-delay="650" data-aos-once="true" id="role">
        <h2 id="head-role">Location and contact<br></h2>
        <p class="lead location" id="par-role">301 City Center<br></p>
        <p class="lead location" id="par-role">Pincode :- 395010</p>
        <p class="lead location" id="par-role">Helpline Number :- +91785236974</p>
        <p class="lead location" id="par-role">discuss12@gmail.com</p>
    </div>
</section>