.name {
    margin-bottom: 0px;
    font-weight: bolder;
}
 
.messege {
    text-indent: 30px;
    text-align: justify;
}

.email {
    color: gray;
    font-size: 12px;
    margin-left: 5px;
}
  
.forumname {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #003263;
}

.wrap-summer{
    margin-top: 50px;
}
  
.wrap-message {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

a {
    background: #000;
    border-color: #ff0;
    border-width: 1px;
    margin: 20px;
    width: 120px;
    color: white;
    margin-left:44%;
}

a:hover{
    color: white;
}

.container{
    min-height: 62vh;
}