a{
    text-decoration: none;
    color: black;
}

tr:hover{
    background-color: lightgray;
}

#wrap-name {
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.forum-name {
    margin-left: 10px;
}
  
.create-button {
    margin-left: 10px;
    background: #000;
    border-color: #ff0;
    border-width: 1px;
    margin: 20px;
    width: 120px;
    color: white;
}

.container{
    min-height: 63vh;
}

#leave{
    margin: 0px;
}

.create-button:hover{
    color: white;
}